<div class="row w-100 d-flex justify-content-between" *ngIf="currentModel && currentAccessories">
  <div class="col w-25">
    <h4>{{currentModel.price + sum(currentAccessories, 'price')}} $</h4>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <ngx-desktop [model]="currentModel" [accessories]="currentAccessories"
                [currentElement]="currentElement"></ngx-desktop>
  </div>
  <div class="col-sm-12">
    <mat-tab-group [selectedIndex]="currentMatTabIndex"
                   (selectedIndexChange)="currentMatTabIndex = $event">

      <mat-tab label="MODEL">
        <ng-template matTabContent>
          <ngx-model-gallery [models]="models"
                             (modelSelect)="onModelSelect($event)">
          </ngx-model-gallery>
        </ng-template>
      </mat-tab>

      <mat-tab *ngFor="let type of accessories| keyvalue" [label]="type.key.toString() | uppercase">
        <ng-template matTabContent>
          <ngx-accessory-gallery [accessories]="type.value"
                                 (accessorySelect)="onAccessorySelect($event)">
          </ngx-accessory-gallery>
        </ng-template>
      </mat-tab>

    </mat-tab-group>
  </div>
</div>
